[Unit]
Description=Postgresql Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/postgres_exporter
EnvironmentFile=/opt/postgres_exporter/postgres_exporter.env
ExecStart=/usr/local/bin/postgres_exporter --web.listen-address=postgresqlip:9100 --web.telemetry-path=/metrics
Restart=always

[Install]
WantedBy=multi-user.target
